* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    /* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
    overflow: auto;
    background: linear-gradient(315deg, rgb(127, 166, 103) 3%, rgb(66, 113, 159) 38%, rgb(75, 164, 158) 68%, rgb(198, 186, 50) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgba(27, 52, 33, 0.25);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -5.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 5vw;
    border-bottom: 2px solid #F97A00;
    background-color: rgb(34, 151, 139);
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.nav {
    position: static;
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    font-size: 2vw;
    margin-right: 20px;
    align-items: center;
}

.nav a {
    font-size: 3vw;
    text-decoration: none;
    color: black;
    transition: 1s;
}

.nav a:hover {
    color: white;
}

.header h1 {
    font-size: 3vw;
    color: rgb(116, 238, 10);
    -webkit-text-stroke: 1px rgb(25, 24, 8);
}

h1 :hover {
    color: white;
}

#menu-icon {
    align-items: center;
    font-size: 3vw;
}

@media(max-width:600px) {
    .nav a {
        display: none;
    }

    #menu-icon {
        font-size: 8vw;
        margin-left: 100px;
    }

    .nav {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .header h1 {
        font-size: 5vw;
        letter-spacing: .5vw;
        color: #F97A00;
    }
}

@media(min-width:600px) {
    #menu-icon {
        display: none;
    }
}

.home {
    width: 100%;
    height: 90vh;
    border: 1px solid black;
    margin-top: 70px;
    border-top: none;
    background-color: rgba(129, 139, 101, 0.6);
    overflow: hidden;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20vw;
}

.intro {
    width: 40vw;
    height: 70vh;
    background-color: rgba(141, 141, 148, 0.25);
    border-bottom: 2px solid #F97A00;
    padding: 10px;
    color: white;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.intro h1 {
    font-size: 4vw;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 3vh;
    color: black;
}

.intro p {
    font-size: 2vw;
    margin-top: 4vh;
    text-align: left;
}

.logo {
    width: 30vw;
    height: 70vh;
    background-color: rgba(50, 50, 93, 0.25);
    border: 5px solid rgb(24, 24, 10);
    align-items: center;
    justify-content: center;
    background-image: url(nature.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 2px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.logo img {
    width: 35vw;
    height: 80vh;
}

@media(max-width:600px) {
    .home {
        height: 50vh;
        width: 100%;
        gap: 10vw;
        box-shadow: rgb(154, 180, 134) 0px 40px 30px -1px;
        border-bottom: 2px solid rgba(47, 52, 34, 0.6);
    }

    .intro {
        width: 40vw;
        height: 40vh;
        border-radius: 2px;
    }

    .intro h1 {
        font-size: 2vw;
        justify-self: center;
        margin-top: 2px;
    }

    .intro p {
        font-size: 3vw;
        margin-top: 6px;
    }

    .logo {
        width: 40vw;
        height: 40vh;
        display: flexbox;
        border-radius: 2px;
        box-shadow: rgb(38, 57, 77) 0px 200px 30px -1px;
    }

    .logo img {
        width: 45vw;
        height: 45vh;
        padding: px
    }
}

.contact {
    width: 100%;
    height: 90vh;
    border: 1px solid black;
    margin-top: 70px;
    border-top: none;
    background-color: rgba(199, 236, 99, 0.6);
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20vw;
}

.form {
    width: 30vw;
    height: 70vh;
    background-color: rgba(50, 50, 93, 0.25);
    border-bottom: 2px solid #F97A00;
    margin: 5vw;
    justify-content: center;
    display: flex;
    padding: 2vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.form form input {
    color: #061d25;
    width: 25vw;
    height: 8vh;
    margin-top: 2vw;
    font-size: 1.5vw;
    border-radius: 20px;
    border: none;
    font-family: Georgia, serif;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.form form textarea {
    width: 25vw;
    height: 15vh;
    margin-top: 2vw;
    font-size: 1.5vw;
    font-family: Georgia, serif;
    color: #6a7f6a;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 10px;
    border: none;
}

.social-link {
    width: 30vw;
    height: 70vh;
    background-color: rgba(108, 203, 130, 0.25);
    border-bottom: 2px solid #F97A00;
    display: flex;
    gap: 2vw;
    align-items: flex-end;
    padding: 4vw;
    transition: 2s;
    padding-left: 1vw;
    border-radius: 2px;
}

.twitter i {
    font-size: 5vw;
    color: rgb(0, 0, 0);

}

.linkedin i {
    font-size: 5vw;
    color: #fefeff;
}

.whatsapp i {
    font-size: 5vw;
    color: rgb(3, 117, 3);
}

.gmail i {
    font-size: 5vw;
    color: white;
}

#hover i:hover {
    color: rgb(194, 157, 9);
    transition: 3s;
}

@media (max-width:600px) {
    .contact {
        height: 100vh;
        width: 100%;
        gap: 10vw;
        box-shadow: rgb(154, 180, 134) 0px 40px 30px -1px;
        border-bottom: 2px solid rgba(47, 52, 34, 0.6);
        display: flex;
        flex-direction: column;
    }

    .form {
        width: 100%;
        height: 80vh;
        border-radius: 2px;
        padding-left: 10vw;
        margin-top: 0px;
    }

    .form form input {
        width: 80vw;
        height: 6vh;
        margin-top: 3vw;
        font-size: 4vw;
        border-radius: 20px;
        border: none;

    }

    .form form textarea {
        width: 80vw;
        height: 10vh;
        margin-top: 5vh;
        font-size: 2vh;
    }

    .social-link {
        width: 100%;
        height: 80vh;
        gap: 8vw;
        padding: 5vw;
        transition: 2s;
        justify-content: center;
    }

    .twitter i {
        font-size: 10vw;
        color: rgb(0, 0, 0);

    }

    .linkedin i {
        font-size: 10vw;
        color: #121272;
    }

    .whatsapp i {
        font-size: 10vw;
        color: rgb(3, 117, 3);
    }

    .gmail i {
        font-size: 10vw;
        color: white;
        display: none;
    }

    .gmail-app i {
        font-size: 10vw;
        color: white;

    }

    #hover i:hover {
        color: rgb(237, 196, 31);
        transition: 3s;
    }
}

@media(min-width:600px) {
    .gmail-app {
        display: none;
    }
}

.about {
    width: 100%;
    height: 90vh;
    border: 1px solid black;
    margin-top: 70px;
    border-top: none;
    background-color: rgba(129, 139, 101, 0.6);
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.projects {
    width: 30vw;
    height: 60vh;
    margin: 1vw;
    /* background-color: rgba(41, 207, 58, 0.6); */
    display: flex;
    justify-content: end;

}

#page-fold {
    position: static;
    background: linear-gradient(-150deg, transparent 1.5em, rgba(27, 216, 43, 0.6) 0);
    border-radius: .5em;
}

#page-fold::before {
    content: '';
    position:static;
    top: 0;
    right: 0;
    background: linear-gradient(to left bottom, transparent 50%, rgba(199, 177, 177, 0.2) 0, rgba(183, 172, 12, 0.4)) no-repeat 100% 0;
    width: 1.73em;
    height: 3em;
    transform: translateY(-1.3em) rotate(-30deg);
    transform-origin: bottom right;
    border-bottom-left-radius: inherit;
    box-shadow: -.2em .2em .3em -.1em rgba(0, 0, 0, .15);
}



.skills {
    width: 100%;
    height: 90vh;
    border: 1px solid black;
    margin-top: 70px;
    border-top: none;
    background-color: rgba(129, 139, 101, 0.6);
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25vw;
}

.footer {
    width: 100%;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.817);
    margin-top: 100%;
    border-top: 2px solid #F97A00;
}