* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: black;
}

.nav {
    position: fixed;
    top: 0;
}

.fotter {
    width: 100%;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.817);
    margin-top: 100%;
    border-top: 2px solid #F97A00;
}